body{
    background-color: whitesmoke;
    
}

header p{
    float: left;
    margin-left: 250px;
    text-transform: lowercase;
    font-size: 20px;
}

header i{
    float: right;
    font-size: 25px;
    margin-top: 15px;
    margin-right: 250px;
}

#num{
    clear: both;
    margin-left: 350px;
    font-size: 100px;
    text-decoration: 10px;
    text-decoration-color:coral;
    text-decoration-line: line-through;
    text-decoration-style: solid;
}

#titulo{
    margin-left: 350px;
}

div p{
    margin-left: 350;
    color: grey;
}

ul{
    margin-left: 350px;
    padding-left: 0px;
}

ul li{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    display: inline;
    margin-right: 150px;
}

.seta{
    margin-top: 0px;
    margin-right: 226px;
}

#links{
    margin-top: 40px;
    margin-bottom: 0px;
}

#setinhas{
    margin-top: 0px;
}

.icones{
    color: coral;
}



div{
    margin-top: 100px;
    display: block;
}
h1{
    text-align: center;
    margin-top: 50px;
}

a{
    color: white;
}

header button i{
    color: coral;
    font-size: 30px;
    
}

header button{
    /*background-color: green;*/
    width: 50px;
    height: 30px;
    margin-left: 70%;
    
}
#demo {
    position: absolute;
    width: 100%;
    z-index: 1;
    background: black;
    height: 100vh;
    margin: 0;

}

#demo button{
    background-color: green;
    width: 50px;
    height: 30px;
    margin-left: 70%;
}

#demo button i{
    margin-left: 70%;
}
